@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,100&display=swap");

.Cart {
  display: grid;
  position: initial;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);

  padding: 3.611vw 6.944vw 11.389vw;
  box-sizing: border-box;
  /* background-color: rgba(0, 0, 0, 0.1); */
  column-gap: 5vw;
}
