@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,100&display=swap");

.Cart {
  display: grid;
  position: initial;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);

  padding: 4rem 6rem 11rem;
  /* background-color: rgba(0, 0, 0, 0.1); */
  column-gap: 4rem;
}

@media screen and (max-width: 767px) {
  .Cart {
    padding: 4rem 2rem 11rem;
  }
}

@media screen and (max-width: 375px) {
  .Cart {
    padding: 4rem 1rem 11rem;
  }
}
