@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap");

.Summarizer {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  width: 100%;
}

.Summarizer .SummarizeItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.Summarizer .Summary {
  display: flex;
  margin-top: 3.5rem;
  justify-content: space-between;
}

.Summarizer .Name {
  font-size: 1.6rem;
}

.Summarizer .Price {
  font-size: 1.6rem;
  font-weight: 500;
}

.Summarizer .SumPrice {
  font-family: "Oranienbaum", serif;
  font-size: 2.4rem;
}

.Summarizer .Total {
  font-size: 2.4rem;
}

.Summarizer .HorizontalLine {
  border: none;
  border-top: solid 0.1rem rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
}

.Summarizer .SubmitButton {
  display: flex;
  width: 100%;
  margin-bottom: 5rem;
}

.Summarizer .Title {
  text-transform: uppercase;
}

.Summarizer .Header {
  display: flex;
  font-size: 1.4rem;
  padding-bottom: 1.2rem;
  margin-bottom: 2.4rem;
  border-bottom: 0.1rem solid #000;
}

.Sticky {
  position: sticky;
  top: 0;
}

@media screen and (max-width: 767px) {
  .Summarizer {
    max-width: 100%;
  }

  .Summarizer .Header {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0.3;
    transform: translateX(2rem);
  }

  100% {
    transform: translateX(0);
  }
}
